@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* style starts here */

body {
  margin: 0;
  padding: 0;
}

.hero-bg {
  width: 100%;
  min-height: 38em;
  /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/279773297_120029260683937_5935627772276356556_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=6tf_Eufsa6YAX_5zCvX&_nc_zt=23&_nc_ht=scontent-cdt1-1.xx&oh=00_AfBZnRGOExRC4UrbDpapdljOkvvo5ZgGRuVC6JoTTZC7QA&oe=6398ED56'); */
  background: rgb(27, 23, 23);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.col-md-6 {
  width: 50%;
  min-height: 38em;
  /* background-color: aquamarine; */
}

.colon2 {
  width: 50%;
  /* height: 38em; */
  /* background-color: bisque; */
  line-height: 50%;
}

.colon2_a {
  padding-top: 6em;
}
.slider {
  position: relative;
}

/* .slider::after {
  content: '';
  width: 50%;
  height: 38em;
  background-color: blue;
  position: absolute;
  top: 0;
} */

.colon2 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: rgb(245, 159, 0);
  text-align: center;
  font-size: 4em;
}

.colon2 h2 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4em;
  font-weight: 100;
  color: white;
}

.colon2_a p {
  color: white;
  font-family: 'Syne', sans-serif;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
}

ul a .btn0 {
  padding: 1em 2em;
  border: 0;
  margin: 10px;
  text-align: center;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(255, 255, 255);
  border-radius: 0;
}

ul .btn0:hover {
  background-color: orange;
  color: rgb(0, 0, 0);
  transition: all ease-in 0.1s;
}

@media (max-width: 667px) {
  .colon1 {
    display: none;
  }

  .hero-bg {
    width: 100%;
    min-height: 38em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/279773297_120029260683937_5935627772276356556_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=6tf_Eufsa6YAX_5zCvX&_nc_zt=23&_nc_ht=scontent-cdt1-1.xx&oh=00_AfBZnRGOExRC4UrbDpapdljOkvvo5ZgGRuVC6JoTTZC7QA&oe=6398ED56');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .colon2 h2 {
    font-size: 3em;
  }

  .colon2_a p {
    font-size: 2em;
  }

  .colon2_a {
    padding-top: 1em;
  }
}

/* Navbar style */

.navbar {
  min-height: 90px;
  background-color: orange;
  padding-right: 8em !important;
  padding-left: 8em !important;
}

@media (max-width: 896px) {
  .navbar {
    min-height: 90px;
    background-color: orange;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

form a {
  list-style: none;
  text-decoration: none;
  background-color: white;
  padding: 0.5em 1.5em;
  border: 0;
  margin: 10px;
  text-align: center;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  border-radius: 0;
}

form a:hover {
  background-color: black;
  color: orange;
  transition: all ease-in 0.1s;
}

.Coursebg {
  width: 100%;
  background: rgb(255, 242, 217);
}

/* logo style */
@media (max-width: 414px) {
  .navbrand .img1 {
    width: 10px;
  }
}

/* footer style */
.footer {
  width: 100%;
  height: 100px;
  background: orange;
}

.footer p {
  text-align: center;
  color: white;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  line-height: 100px;
  font-size: 25px;
}

/* Box style */

.box {
  min-height: 28em;
  background-color: rgb(255, 249, 238);
  border-radius: 5px;
}

.box:hover {
  border: 2px solid rgb(202, 131, 0);
}

.box h2 {
  font-family: 'Product Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-top: 8px;
}

.box p {
  text-align: center;
  font-family: 'Syne', sans-serif;
  color: gray;
  font-size: 19px;
  padding: 10px 30px;
}

.box a {
  list-style: none;
  text-decoration: none;
}

@media (max-width: 731px) {
  .col-md-4 {
    gap: 10px;
  }
}

/* student_sec style */

.studentInfo {
  background: rgb(255, 242, 217);
  height: 35em;
}

.col-md-3 {
  display: flex;
  justify-content: center;
  height: 100px;
  /* background-color: dodgerblue; */
}

.col-md-3 span {
  padding-left: 8px;
}

.col-md-3 h3 {
  font-size: 25px;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.col-md-3 p {
  font-size: 20px;
  font-family: 'Syne', sans-serif;
}

.col-md-3 .img-fluid {
  width: 80px !important;
  height: 80px !important;
}

/* search style  */
.searchInput {
  display: flex;
}

input {
  width: 20em !important;
  /* position: absolute;
  right: 110px; */
  float: right;
  padding-right: 110px;
  
}

.container {
  min-height: 35em;
}


